
<!DOCTYPE html>
<html>
<head>
    <title>app</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/dropdown.min.css">
</head>
<body>
{{> header }}

{{{body}}}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="javascripts/semantic.js"></script>
    <script type="text/javascript" src="javascripts/dropdown.js" ></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdSWRnYpEd7XTwAKS7bptyyVlj5E0QBaQ&libraries=geometry,places&callback=initAutocomplete" defer></script>
    <script type="text/javascript" src="javascripts/initGoogleInput.js"></script>
    <script type="text/javascript" src="javascripts/sendRequestForSearch.js"></script>
    <script type="text/javascript" src="javascripts/map.js" async></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>