<section class="input-section">
    <h4>Введите своё местоположение</h4>
    <form name="login-form" class="search-form" >
        <div id="locationField">
            <input class="search-address" autocomplete="" id="autocomplete" placeholder="Enter your address"
                   onFocus="geolocate()" type="text">
        </div>
        <button type="submit" class="search-button">Поиск</button>
    </form>

    <h4>
        <a id="getMyLoc" href="javascript:;">Получить список по моему местоположению</a>
    </h4>
</section>
