<section class="input-section">
    <h4>Введите своё местоположение</h4>
    <form name="login-form" class="search-form">
        <div class="btn-group">
            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"-->
        <!--aria-haspopup="true" aria-expanded="false">Выберите метод сортировки<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a id="getMyLoc" href="javascript:;">Получить список по моему местоположению</a></li>-->
        <!--<li><a id="getAllCountry" href="javascript:;">Вся Украина</a></li>-->
        <!--</ul>-->
        </div>

        <div class="ui fluid search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Выберите метод сортировки</div>
            <div class="menu">
                <div class="item"><a id="getMyLoc" href="javascript:;">Получить список по моему местоположению</a></div>
                <div class="item"><a id="getAllCountry" href="javascript:;">Вся Украина</a></div>

            </div>
        </div>

        <div id="locationField">
            <input class="search-address" autocomplete="" id="autocomplete" placeholder="Enter your address"
                   onFocus="geolocate()" type="text">
        </div>
        <button type="submit" class="search-button" id="submitInputButton">Поиск</button>
    </form>
</section>
